.computer {
  opacity: 0.7;
}

.btn, .result {
  height: 20vh;
  font-size: 2em;
  margin-bottom: 1em;
}

.result {
  justify-content: center;
  align-items: center;
}

/* Display.js */
.some-page-wrapper {
  margin: 15px;
  background-color: grey;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.left-column {
  /* background-color: blue; */
  height: 100%;
}

.right-column {
    height: 100%;
    /* background-color: green; */
}

.computer {
  text-align: center;
}

.user {
  text-align: center;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: grey;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
